:root {
  --color-red01: #f15e7e;
  --color-blue01: #23bed9;
  --color-gray08: #0c0816;
  --color-gray11: #1a1525;
  --color-gray14: #272231;
  --color-gray18: #332e3c;
  --color-gray22: #413a4b;
  --color-gray24: #463f51;
  --color-gray34: #685f75;
  --color-white44: #939098;
  --color-white52: #a19fa6;
  --color-white64: #b9b7bc;
  --color-white80: #e9e9ea;
  --color-white92: #eeedee;
  --color-white100: #ffffff;

  --text-color: red;
}
