:root {
  /* Grayscale color */
  --color-gray1: #0c0813;
  --color-gray2: #1a1525;
  --color-gray3: #272231;
  --color-gray4: #332e3c;
  --color-gray5: #413a4b;
  --color-gray6: #463f51;
  --color-gray7: #685f75;
  --color-white6: #939098;
  --color-white5: #a19fa6;
  --color-white4: #b9b7bc;
  --color-white3: #e9e9ea;
  --color-white2: #eeedee;
  --color-white1: #ffffff;
}
