:root {
  --font-family: 'Gotham', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  --color-paleblue-h: 189;
  --color-paleblue-s: 72%;
  --color-paleblue-l: 49%;
  --color-paleblue: hsl(
    var(--color-paleblue-h),
    var(--color-paleblue-s),
    var(--color-paleblue-l)
  );
  --color-paleblue-text: #ffffff;

  /* Accent Color */
  --color-blue-darkest: #0a92aa;
  --color-blue-dark: #1faec6;
  --color-blue: #23bed9;
  --color-blue-hover: #4fcbe0;
  --color-red: #f15e7e;
  --color-positive: #43e0be;
  --color-positive-dark: #15ad8c;
  --color-positive-darkest: #06745c;

  /* System Color */
  --color-success: #52c858;
  --color-success-dark: #337035;
  --color-warning: #f7b54a;
  --color-warning-dark: #8c601a;
  --color-error: #fe5e53;
  --color-error-dark: #942323;
}

.dark-color-set {
  --color-gray1: #0c0813;
  --color-gray2: #1a1525;
  --color-gray3: #272231;
  --color-gray4: #332e3c;
  --color-gray5: #413a4b;
  --color-gray6: #463f51;
  --color-gray7: #685f75;
  --color-white6: #939098;
  --color-white5: #a19fa6;
  --color-white4: #b9b7bc;
  --color-white3: #e9e9ea;
  --color-white2: #eeedee;
  --color-white1: #ffffff;
}

/* TODO */
.light-color-set {
  --color-gray1: #ffffff;
  --color-gray2: #e8e8e8;
  --color-gray3: #f5f5f5;
  --color-gray4: #ffffff;
  --color-gray5: #f0f0f0;
  --color-gray6: #eeeeee;
  --color-gray7: #cccccc;
  --color-white6: #685f75;
  --color-white5: #463f51;
  --color-white4: #332e3c;
  --color-white3: #272231;
  --color-white2: #0c0816;
  --color-white1: #000000;
}
